/*General setup*/
:root{
    --color-doc:rgba(145, 191, 243, 0.349);
    --color-div:rgba(54, 147, 170, 0.129); 
    --content-color:rgba(255, 255, 255, 0.562); 
    --button-color:rgba(0, 0, 0, 0.274);
    --doc-border-radius:15px;
}

body{
    display: grid;
    flex-direction: row; 
    grid-template-columns: 1fr 4fr 0.5fr; 
    height: 100vh;
    gap: 1%;
    background-color: var(--color-doc);
}

body > div{
    background-color: var(--color-div);
    border-radius: var(--doc-border-radius);
}

.project-board>div.selected{
    /*create toggle for selected class*/
    background-color: var(--button-color);
}

/*Projects design*/
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-board{
    height: 80vh;
    width: 90%;
    background-color: rgba(145, 191, 243, 0.349);
    border-radius: var(--doc-border-radius);
    overflow: auto; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.projects>:nth-child(3){
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%; 
    justify-items: center;
    padding-top: 5%;
}

.projects>:nth-child(3) button{
    border-radius: 30px;
    width: 80%;
}

.project-board>div{
    width:80%;
    height: 5%;
    background-color: var(--content-color);
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
    border-radius: var(--doc-border-radius);
    font-size: clamp(10px, 25vw, 20px);
    padding-left: 5%;
    margin: 2.5% 0% 2.5% 0%;
}

/*Tasks design*/
header{
    display: grid;
    grid-template-columns: 3fr 0.5fr 0.5fr;
    justify-items: center;
    align-items: center;
}
 
header> button{
    width: 70%;
    height: 40%;
    border-radius: 30px;
}

.tasks{
    display: flex;
    flex-direction: column;
}
.task-board{
    width: 95%;
    height: 85%;
    background-color: var(--color-doc);
    align-self: center;
    border-radius: var(--doc-border-radius);
    overflow: auto;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 30%);
    grid-auto-rows: 30%;
    gap: 2%;
    padding:1%;
    scroll-padding-top: 10px;
}

.task-board>div{ 
    border-style: solid;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, 20%);
}

.task-board>div>h3{
    grid-column: 1/3;
    grid-row: 1/2; 
    justify-self: center;
    align-self: center;
}
.task-board>div>p{
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
}
.task-board>div>.desc{
    grid-column: 1/3;
    grid-row: 2/3;
    border-style:inset;
    height:100%; 
    align-self:center;
    width: 100%;
    
}
.task-board>div>input{
    grid-column: 1/3;
    grid-row: 4/6;
} 

.task-board::-webkit-scrollbar, .project-board::-webkit-scrollbar {
    width: 5px;
    border-radius: 100%;
    background-color: var(--button-color);
}
.task-board::-webkit-scrollbar-thumb, .project-board::-webkit-scrollbar-thumb{
    border-radius: 100%;
    background-color: black;
}
 
button:hover{
    background-color:var(--button-color);
}

/*Summary design*/
.summary{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-board{
    width: 90%;
    height: 85%;
    background-color: var(--color-doc);
    align-self: center;
    border-radius: var(--doc-border-radius);
    padding:1%;
}
